<div class='title' app-id={{application._id}}>
    {{#if application.currentPhase.phaseType}}
        {{application.companyName}} {{application.currentPhase.phaseType}}
    {{else}}
        {{application.companyName}} Applying
    {{/if}}
</div>
<div class='content' app-id={{_id}}>
    <div id='delete-application' class="ui red button">
        Delete
    </div>
    <div id='change-phase' class="ui button">
        Next
    </div>
    <div id='terminate-application' class="ui button right-buttons">
        Terminate
    </div>
</div>