<div class='title' app-id={{_id}}>
	{{#if currentPhase.phaseType}}
    	{{companyName}} {{currentPhase.phaseType}}
    {{else}}
    	{{companyName}} Applying
	{{/if}}
</div>
<div class='content' app-id={{_id}}>
</div>