<div class='title' app-id={{application._id}}>
    {{application.companyName}}
    <div style='float:right;' phase-identifier={{application._id}}>
        {{application.currentPhase.phaseType}}
    </div>
</div>
<div class='content' app-id={{application._id}}>
    {{>tasks}}
    <div id='delete-application' class='ui red button'>
        Delete
    </div>
    <div style='float:right;'>
        <div id='change-phase' class='ui button'>
            Next
        </div>
        <div id='terminate-application' class='ui button right-buttons'>
            Terminate
        </div>
    </div>
</div>