{{! primary author: Olga }}
<div class='title {{terminated}}' app-id={{application._id}}>
    {{application.companyName}}
    <div style='float:right;' class='phase'>
        {{application.currentPhase.phaseType}}
    </div>
</div>
<div class='content' app-id={{application._id}}>
    <div class='tasks' phase-id={{application.currentPhase._id}} style="padding-bottom:10px;">
    </div>
    <div id='delete-application' class='ui red button'>
        Delete
    </div>
    <div style='float:right;'>
        <div class='ui button change-phase'>
            Got Interview
        </div>
        <div class='ui button right-buttons terminate-application'>
            Terminate
        </div>
    </div>
</div>