<div class='title' app-id={{_id}}>
	{{#if currentPhase.phaseType}}
    	{{companyName}} {{currentPhase.phaseType}}
    {{else}}
    	{{companyName}} Applying
	{{/if}}
</div>
<div class='content' app-id={{_id}}>
    <div class="ui red button">
        Delete
    </div>
    <div class="ui button">
        Next
    </div>
    <div class="ui button right-buttons">
        Terminate
    </div>
</div>