<div id='new-task-input' task-id={{id}}>
	{{#if completed}}
    	<input type='checkbox' checked disabled>
    {{else}}
    	<input type='checkbox' disabled>
    {{/if}}
    <input type='text' id='description' value={{description}}>
    (
    <div id='month' class='ui dropdown'>
        <div class='text'>{{getMonth dueDate}}</div>
        <div class='menu' style='overflow:auto;max-height:200px;'>
            {{#for 1 13 1}}
                <div class='item'>{{this}}</div>
            {{/for}}
        </div>
    </div>
    /
    <div id='day' class='ui dropdown'>
        <div class='text'>{{getDay dueDate}}</div>
        <div class='menu' style='overflow:auto;max-height:200px;'>
            {{#for 1 32 1}}
                <div class='item'>{{this}}</div>
            {{/for}}
        </div>
    </div>
    /
    <div id='year' class='ui dropdown'>
        <div class='text'>{{getYear dueDate}}</div>
        <div class='menu' style='overflow:auto;max-height:200px;'>
            {{#for 2014 2031 1}}
                <div class='item'>{{this}}</div>
            {{/for}}
        </div>
    </div>
    )
</div>