<div class='item' task-id={{_id}}>
    {{#if completed }}
        <input class='checkbox' type='checkbox' name={{_id}} checked>
    {{else}}
        <input class='checkbox' type='checkbox' name={{_id}}>
    {{/if}}
    <label>
        <div class='description'>{{description}}</div> 
        <div class='dueDate'>{{dueDate}}</div>
    </label>
</div>
