<div class='item task-item' task-id={{_id}}>
    {{#if completed }}
        <input type='checkbox' name={{_id}} checked style = 'float:left;'>
    {{else}}
        <input type='checkbox' name={{_id}} style = 'float:left;'>
    {{/if}}
    <label>
        <div style='float:left;'>
        <div class='description'>{{description}}</div>
        {{#if dueDate}}
    	(
        <div class='month'>{{getMonth dueDate}}</div>
        /
        <div class='day'>{{getDay dueDate}}</div>
        /
        <div class='year'>{{getYear dueDate}}</div>
        )
        {{/if}}
        </div>
    </label>
    
</div>
