<div class='item' task-id={{_id}}>
    {{#if completed }}
        <input type='checkbox' name={{_id}} checked style = 'float:left;'>
    {{else}}
        <input type='checkbox' name={{_id}} style = 'float:left;'>
    {{/if}}
    <label>
        <div class='description'>{{description}}</div> 
        <div class='dueDate'>{{dueDate}}</div>
    </label>
    
</div>
